/*=============================================
=            Global Text Color            =
=============================================*/

$body-text-color: var(--dse-body-text-color, $dark) !default;
$body-bg-color: var(--dse-body-bg-color, $white) !default;

/*=====  End of  Global Text Color  ======*/

/*=============================================
=            Global Text Color            =
=============================================*/

$btn-primary-color: var(--dse-btn-primary-color, $white) !default;
$btn-primary-bg-color: var(--dse-btn-primary-bg-color, $green) !default;
$btn-primary-bg-hover: var(--dse-btn-primary-bg-hover, $green-light) !default;

/*=====  End of  Global Text Color  ======*/
